.social-icon li a {
    color: #fff;
    border: 1px solid #fff;
}

.text-right {
    text-align: right;
}

img.about-image {
    border-radius: 50%;
}

hr.line {
    width: 100px;
    height: 3px;
    color: #007bff ;
}

.ph-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.skill-ed .skill-badge {
    position: static;
    margin-top: 1rem;
}

.skill-ed .main-timeline .timeline:nth-child(even) .timeline-content {
    padding-right: 80px;
}

.skill-ed .main-timeline .timeline-icon {
    right: 20px;
    left: unset;
}

.skill-ed .main-timeline .timeline-content {
    padding-left: 25px;
    padding-right: 70px;
    border-radius: 0 40px 0 0;
}

.skill-ed .main-timeline .timeline:nth-child(even) .timeline-content {
    border-radius: 0 0 40px 0;
}

.main-timeline .timeline:nth-child(even) {
    float: left;
}

.skill-ed .main-timeline.education .timeline-content {
    border-radius: unset;
}

.skill-ed .main-timeline.education .timeline:first-child .timeline-content {
    border-radius: 40px 0 0 0 ;
}

.skill-ed .main-timeline.education .timeline:last-child .timeline-content {
    border-radius: 0 0 0 40px;
}

.skill-area .skill-badge {
    right: 25%;
}

.pb-200 {
    padding-bottom: 200px;
}

.alert.alert-pills {
    border:1px solid #007bff;
}

.alert.alert-pills .content {
    color: #007bff;
}